<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetos encontrados</title>
    <style> body {font-family: Arial, sans-serif;background-color: #f4f4f4;margin: 0;padding: 20px;}
    h1 {font-size: 36px;color: #333; text-align: center;margin-bottom: 40px;text-transform: uppercase;letter-spacing: 2px;border-bottom: 2px solid #007bff;display: inline-block;padding-bottom: 10px;}
    .grid {display: grid;grid-template-columns: repeat(4, 1fr);gap: 40px; /* Mayor separación entre las columnas */}
    .card {background-color: #fff;border: 1px solid #ddd;border-radius: 8px;overflow: hidden;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);transition: transform 0.2s;min-height: 350px; /* Altura mínima para las cartas */display: flex;justify-content: center;align-items: center;text-align: center;margin-bottom: 40px; /* Mayor separación entre las cartas */}
    .card:hover {transform: scale(1.05);}
    .card img {max-width: 100%;}
    .pagination a {margin: 0 5px;}
    </style>
</head>
<body>
<h1>Museo Metropolitano - Objetos encontrados segun lo buscado</h1>

<div class="grid">
    <% object.forEach(object => { %>
        <div class="card">
            <% if (object.imageUrl === null || object.imageUrl === "") { %>
                <p>Imagen no encontrada</p>
            <% }else {%>
                <img src="<%= object.imageUrl %>" alt="<%= object.title %>" title="<%= object.date %>">
                <% }%>

                <h2><%= object.title %></h2>
                <p><%= object.culture%></p>
                <p><%= object.dynasty%></p>
                <% if (object.additionalImage.length > 0) { %>
                <a href="/object/<%= object.id %>">ver mas imagenes</a>
                <% } %>
        </div>
    <% }) %>
</div>

<div class="pagination">
    <% if (page > 1) { %>
    <a href="/search?page=<%= page - 1 %>&keyword=<% keyword %>&department=<% department %>&location=<% location %>">Anterior</a>
    <% } %>
    <% if (page < totalPages) { %>
        <a href="/search?page=<%= page + 1 %>&keyword=<% keyword %>&department=<% department %>&location=<% location %>">Siguiente</a>
        <% } %>
</div>
</body>
</html>